<link rel="import" href="./bower_components/polymer/polymer-element.html">

<link rel="import" href="./external-computer-component.html">

<link rel="import" href="./bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="./bower_components/paper-button/paper-button.html">
<link rel="import" href="./bower_components/paper-card/paper-card.html">
<link rel="import" href="./bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="./bower_components/paper-item/paper-item.html">
<link rel="import" href="./bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="./bower_components/paper-progress/paper-progress.html">
<link rel="import" href="./bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="./bower_components/iron-icons/iron-icons.html">


<dom-module id="computer-jesus">
  <template>
    <style>
      :host {
        font-family: Arial, Helvetica, sans-serif;
        display: block;
      }
      .horizontal {
        display: flex;
        flex-wrap:wrap;
        text-align: center
      }
      external-computer-component {
        margin:5px;
        --generic-component: {
          background-color: var(--generic-component-color);
          color: white;
        }
        --external-component:{
          background-color: var(--external-component-color);
          color:white;
        }
        --collapse-content:{
          width: 250px;
          margin: 0 0 0 5px;
          border: 1px solid #dedede;
        }
      }
      paper-icon-button.giant {
        color: white;
        width: 50px;
        height: 50px;
      }
      paper-card {
        width:100%;
        --paper-card-header-text:{
          color: white;
        }
      }
      paper-card.off{
        --paper-card-header: {
          background-color: var(--color-button-off);
        }
        --paper-card-actions: {
          background-color: var(--color-button-off);
        }
      }
      paper-card.on{
        --paper-card-header: {
          background-color: var(--color-button-on);
        }
        --paper-card-actions: {
          background-color: var(--color-button-on);
        }
      }
      paper-progress {
        width: 100%
      }
    </style>
    
    <dom-if if="[[isLoadingComputer]]">
      <template>
        <paper-progress indeterminate></paper-progress>
      </template>
    </dom-if>

    <paper-card heading$="[[_getHeader(on)]]" class$="{{_getClassOnComputerSwitch(on)}}">
      <div class="card-content horizontal">
        <external-computer-component 
          name="HDD" 
          endpoint="hddList" 
          characteristics="{{hdd}}" 
          is-requesting="{{isLoadingHdd}}"
          computer-on="[[on]]"
          opened="{{someDropdownOpened}}"
          delay = "1000"></external-computer-component>
        <external-computer-component 
          name="Graphic Card" 
          endpoint="graphicCard" 
          characteristics="{{graphic}}" 
          is-requesting="{{isLoadingGraphic}}"
          computer-on="[[on]]"
          opened="{{someDropdownOpened}}"
          delay = "4000"></external-computer-component>
        <external-computer-component 
          name="Processor" 
          endpoint="processors" 
          characteristics="{{processor}}" 
          is-requesting="{{isLoadingProcessor}}"
          computer-on="[[on]]"
          opened="{{someDropdownOpened}}"
          delay = "8000"></external-computer-component>
        <external-computer-component 
          name="RAM" 
          endpoint="ramMemory" 
          characteristics="{{ram}}" 
          is-requesting="{{isLoadingRam}}"
          computer-on="[[on]]"
          opened="{{someDropdownOpened}}"
          delay = "2000"></external-computer-component>
      </div>
      <div class="card-actions">
        <paper-icon-button 
        icon="polymer" 
        class="giant"
        on-click="toggleComputer" 
        ></paper-icon-button>
      </div>
    </paper-card>
  </template>

  <script>
    class ComputerJesus extends Polymer.Element {
      static get is() { return 'computer-jesus'; }
      static get properties() {
        return {
          on: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          },
          ram: {
            type: Object,
            value: () => {
              return {name: 'GFT RAM', generic: true}
            }
          },
          processor: {
            type: Object,
            value: () => {
              return {name: 'GFT Processor', generic: true}
            }
          },
          hdd: {
            type: Object,
            value: () => {
              return {name: 'GFT HDD', generic: true}
            }
          },
          graphic: {
            type: Object,
            value: () => {
              return {name: 'GFT Graphic Card', generic: true}
            }
          },
          isLoadingRam: {
            type: Boolean,
            value: false
          },
          isLoadingHdd: {
            type: Boolean,
            value: false
          },
          isLoadingProcessor: {
            type: Boolean,
            value: false
          },
          isLoadingGraphic: {
            type: Boolean,
            value: false
          },
          isLoadingComputer: {
            type: Boolean,
            value: false
          },
          someDropdownOpened: {
            type: Boolean,
            value: false
          }
        };
      }
      static get observers() {
        return [
          'checkRequests(isLoadingRam, isLoadingHdd, isLoadingProcessor, isLoadingGraphic)'
        ]
      }
      _getHeader(on){
        return `Yisus's computer ${on ? 'esta encendida, no puede cambiar los componentes' : 'esta apagada, puede cambiar los componentes'}`
      }
      toggleComputer(){
        if(!this.on){
          if(this.someDropdownOpened){
            if(!this.ram.generic && !this.hdd.generic && !this.processor.generic && !this.graphic.generic){
              this.on = !this.on
            } else {
              alert('Si cambias un componente cambias todos >:|')
            }
          } else {
            this.on = !this.on
          }
        } else {
          this.on = !this.on
        }
      }

      _getClassOnComputerSwitch(on){
        return on ? 'on' : 'off'
      }
      checkRequests(isLoadingRam, isLoadingHdd, isLoadingProcessor, isLoadingGraphic) {
        this.isLoadingComputer = isLoadingRam || isLoadingHdd || isLoadingProcessor || isLoadingGraphic
      }
    }

    window.customElements.define(ComputerJesus.is, ComputerJesus);
  </script>
</dom-module>
