<link rel="import" href="./bower_components/polymer/polymer-element.html">
<link rel="import" href="./bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="./bower_components/paper-button/paper-button.html">
<link rel="import" href="./bower_components/paper-card/paper-card.html">
<link rel="import" href="./bower_components/paper-progress/paper-progress.html">

<dom-module id="external-computer-component">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-card {
        padding:15px;
        width:100%
      }
      .collapse-content {
        @apply --collapse-content
      }
      .generic {
        @apply --generic-component
      }
      .external {
        @apply --external-component
      }
      paper-button, paper-dropdown-menu {
        width:100%
      }
      paper-card {
        --paper-card-actions: {
          background-color: white
        }
      }
      paper-progress {
        margin-top: -9px
      }
    </style>

    <paper-card>
      <div class="class-content">
        <paper-button 
          raised 
          on-click="_toggleCollapse" 
          class$="{{_getClassOnGenericComponent(characteristics.generic)}}">[[name]]</paper-button>
    
        <iron-collapse id="collapse">
          <div class="collapse-content">
            <dom-repeat items = "[[_iterableCharacteristics]]">
              <template>
                <p>[[ _getCharacteristic(item)]]</p>
              </template>
            </dom-repeat>
          </div>
        </iron-collapse>
      </div>
      <dom-if if ="[[!computerOn]]">
          <template>
              <div class="card-actions">
                <paper-dropdown-menu disabled="[[isRequesting]]" on-opened-changed = "_onDropdownOpen" label = "[[name]]">
                    <paper-listbox slot="dropdown-content">
                      <dom-repeat items="[[availableComponents]]">
                        <template>
                          <paper-item on-click="_setCharacteristics">
                            [[item.serial]]
                          </paper-item>
                        </template>
                      </dom-repeat>
                    </paper-listbox>
                  </paper-dropdown-menu>
                  <dom-if if="[[isRequesting]]">
                    <template>
                      <paper-progress indeterminate></paper-progress>
                    </template>
                  </dom-if>
                </div>
          </template>
        </dom-if>
    </paper-card>

    
    

  </template>

  <script>
    class ExternalComputerComponent extends Polymer.Element {

      connectedCallback() {
        super.connectedCallback();
        this.getAPIInformation()
      }

      static get is() { return 'external-computer-component'; }
      static get properties() {
        return {
          opened: {
            type: Boolean,
            notify: true
          },
          computerOn: {
            type:Boolean,
            observer: "handleComputerStatus"
          },
          isRequesting: {
            type: Boolean,
            value: false,
            notify: true
          },
          delay: {
            type: String,
            value: "3000"
          },
          name: String,
          endpoint: String,
          characteristics: {
            type: Object,
            value: () => {
              return {}
            },
            notify: true
          },
          _iterableCharacteristics: {
            type: Array,
            computed: '_characteristicsToArray(characteristics)'
          }
        };
      }
      _getCharacteristic(characteristic){
        return characteristic.join(' : ')
      }
      _characteristicsToArray(characteristics){
        return Object.entries(characteristics)
      }
      _getClassOnGenericComponent(generic){
        return generic ? 'generic' : 'external'
      }
      _toggleCollapse() {
        this.$.collapse.toggle()
      }
      handleComputerStatus(newV, oldV){
        if(newV){
          this.$.collapse.show()
        }
      }
      getAPIInformation() {
        this.isRequesting = true
        let request = new XMLHttpRequest();
        let urlDelay = "http://slowwly.robertomurray.co.uk/delay/" + this.delay + "/url/"
        let urlBase = "https://demo6292426.mockable.io/"
        let url = urlDelay + urlBase + this.endpoint;
        request.open('GET', url);
        request.send();
        request.onreadystatechange = () => {
          if (request.readyState === 4) {
            this.availableComponents = JSON.parse(request.response).data;
            this.isRequesting = false
          }
        }
      }
      _onDropdownOpen(event){
        if(event.detail.value){
          this.opened = event.detail.value
        }
      }
      
      _setCharacteristics(event){
        this.characteristics = event.model.item
      }
    }
    window.customElements.define(ExternalComputerComponent.is, ExternalComputerComponent);
  </script>
</dom-module>
